%h2
  %a{:href => project_url(@project) }= @project.name
  %span.sect &sect;
  = @alternative.name

#alternative
  %img{:src => @alternative.asset.url(:large)}
  
  #actions
    %a#annotate{:href => ""} annotate this picture
    %span.sect &sect;
    %a{:href => @alternative.asset.url} download the original
  
  - unless @alternative.annotations.empty?
    #annotations
    %h3 Annotations
    %ol
      - for annotation in @alternative.annotations
        %li.annotation
          %a.show-annotation{:href => "##{annotation.id}"}
            by
            = annotation.user.name

#comments
  %h4= "Comments (#{@alternative.comments.length})"
  - if @alternative.comments.empty?
    %p
      No comments yet.
  - else
    - for comment in @alternative.comments
      .comment
        %img.portrait{:src => comment.user.gravatar(size=36)}
        .byline
          %a{:href => "/#{comment.user.username}"}= comment.user.name
          wrote about
          = distance_of_time(comment.created_at)
          ago
        %p= comment.body
  #comments-form
    %h5 Leave a comment
    %form{:method => "POST", :action => alternative_url(@alternative, project=@project) + "/comment"}
      %label.width2
        %textarea{:name => "body"}
      %label
        %button.button Send

#drawing-board{:style => "display: none"}
  %img{:src => @alternative.asset.url(:large)}
  #annotate-actions
    use the tools to annotate the picture, then
    %a#complete-annotation.button{:href => ""} complete
    or
    %a#cancel-annotation{:href => ""} cancel
    
#annotation-view{:style => "display: none"}
  %img{:src => @alternative.asset.url(:large)}
  #view-actions
    %a#close-annotation{:href => ""} close

%script{:src => "/js/raphael.js"}
%script{:src => "/js/json2.js"}
%script{:src => "/js/drawing.js"}