%h2
  = @project.name
  %span.sect &sect;
  %span.dephasis= "iteration #{@project.iterations.count}"

- if @project.description
  %p= @project.description


#project
  %ul#alternatives
    - for alt in @project.iterations.first(:order => "created_at desc").alternatives
      %li
        %a{:href => "/#{@project.user.username}/#{@project.slug}/alternative/#{alt.id}"}
          %img{:src => alt.asset.url(:thumb), :description => "#{alt.name}"}
#actions
  .inner
    %h3
      %a#iterate.button{:href => "/#{@project.user.username}/#{@project.slug}/iterate"} Iterate &raquo;
    %ul
      %li Add an alternative
      %li Close this project
    
    %h4 Collaborators