%h2
  = @project.name
  %span.sect &sect;
  %span.dephasis= "iteration #{@iteration.order}"

- if @project.description
  #description
    %p= @project.description


#project
  %ul#alternatives
    - for alt in @iteration.alternatives
      %li
        .info
          %span.comments
            = alt.comments.size == 0 ? "no" : alt.comments.size
            = alt.comments.size > 1 ? "comments" : "comment"
          %span.like
            %a{:href => "/"} ilikethis
        %a{:href => alternative_url(alt, project=@project)}
          %img{:src => alt.asset.url(:thumb), :description => "#{alt.name}"}
#actions
  .inner
    - if @iteration.current?
      %h3
        %a#iterate.button{:href => "#{project_url(@project)}/iterate"} Iterate &raquo;
    %ul
      %li Add an alternative
      %li Close this project
    
    %h4
      Collaborators
      %a.button{:href => "#{project_url(@project)}/invite"}
        %span.plus +
    - unless @project.collaborators.empty?
      %ul#collaborators
        - for collaborator in @project.collaborators
          %li
            %a{:href => "/#{collaborator.username}"}
              %img{:src => collaborator.gravatar(size=24), :alt => collaborator.name}
              
#comments
  %h4= "Comments (#{@iteration.comments.length})"
  - if @iteration.comments.empty?
    %p
      No comments yet.
  - else
    - for comment in @iteration.comments
      .comment
        %img.portrait{:src => comment.user.gravatar(size=36)}
        .byline
          %a{:href => "/#{comment.user.username}"}= comment.user.name
          wrote, on
          = comment.created_at
        %p= comment.body
  #comments-form
    %h5 Comment on this iteration
    %form{:method => "POST", :action => "/#{@project.user.username}/#{@project.slug}/comment"}
      %label.width2
        %textarea{:name => "body"}
      %label
        %button.button Send
    